<section class="container">

  <div class="todo">
    <div class="todo-list">

      <header class="todo-list_header">
        <h2>Lista de tarefas</h2>
        <button class="todo-button" (click)="acaoNovaTarefa()">Nova Tarefa</button>
      </header>
  
      <hr>

      <section class="todo-list_content">

        <app-todo-item *ngFor="let tarefa of tarefas" [todo]="tarefa"
         (edit)="editTodo($event)"
         (delete)="deleteTodo($event)"
         (toggleDone)="toggleDone($event)"></app-todo-item>

      </section>

    </div>
  </div>

</section>