// Primárias
$cor-primaria-1: #e1173f;
$cor-primaria-2: #af002b;
$cor-primaria-3: #c50030;

// Secundárias
$cor-secundaria-1: #73308b;
$cor-secundaria-2: #b41a83;
$cor-secundaria-3: #f36279;
$cor-secundaria-4: #2b469c;
$cor-secundaria-5: #071ab1;
$cor-secundaria-6: #204091;

// Escala Tons de Cinza
$cor-neutra-0: #ffffff;
$cor-neutra-50: #f0f1f5;
$cor-neutra-100: #e4e5e9;
$cor-neutra-300: #a7a8ac;
$cor-neutra-500: #6d6e71;
$cor-neutra-700: #47484c;
$cor-neutra-1000: #000000;

// Alertas
$cor-alerta-sucesso: #e6faee;
$cor-alerta-aviso: #fefbd5;
$cor-alerta-impedimento: #fce7eb;
$cor-alerta-divulgacao: #f1eaf3;
$cor-alerta-orientacao: #ebf0ff;

// Sinalizadoras
$cor-sinalizadora-sucesso: #0bcc56;
$cor-sinalizadora-aviso: #ffbc00;
$cor-sinalizadora-informacao: #3b69ff;
$cor-sinalizadora-erro: #e1173f;
